.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  transition: transform 0.3s ease;
  width: 70%;
  max-width: 95%;
  margin-top: 50px;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
  user-drive: none;
  border-radius: 50%;
  clip-path: circle(50%);
}

.image:hover {
  transform: scale(1.05);
}

.image:active {
  transform: scale(0.95);
}
