.floatingText {
  position: absolute;
  font-size: 2rem;
  color: #ffff; /* Tomato color */
  animation: float-up 1.5s ease-out forwards;
  pointer-events: none; /* Allow clicks to pass through */
  transform: translate(-50%, -50%); /* Center the text at the cursor */
}

@keyframes float-up {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -150px);
    opacity: 0;
  }
}
